In [1]:
import numpy as np
import pandas as pd

In [3]:
by_id = pd.read_csv('kiva_loan_theme_ids.csv')

In [4]:
by_id.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 779092 entries, 0 to 779091
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               779092 non-null  int64
 1   Loan Theme ID    764279 non-null  object
 2   Loan Theme Type  764279 non-null  object
 3   Partner ID       764279 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 23.8+ MB

In [6]:
type(by_id)

pandas.core.frame.DataFrame

In [7]:
by_id.index

RangeIndex(start=0, stop=779092, step=1)

In [9]:
by_id.columns

Index(['id', 'Loan Theme ID', 'Loan Theme Type', 'Partner ID'], dtype='object')

In [10]:
by_id.head()

       id    Loan Theme ID          Loan Theme Type  Partner ID
0  638631  a1050000000skGl                  General       151.0
1  640322  a1050000000skGl                  General       151.0
2  641006  a1050000002X1ij         Higher Education       160.0
3  641019  a1050000002X1ij         Higher Education       160.0
4  641594  a1050000002VbsW  Subsistence Agriculture       336.0

In [12]:
by_id.dropna().info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 764279 entries, 0 to 779091
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               764279 non-null  int64
 1   Loan Theme ID    764279 non-null  object
 2   Loan Theme Type  764279 non-null  object
 3   Partner ID       764279 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 29.2+ MB

In [13]:
by_id.shape

(779092, 4)

In [ ]:
by_id['Loan Theme Type']