In [70]:
import pandas as pd
import numpy as np

In [71]:
data = pd.read_csv('kiva_loans.csv')
data.head()

,id,funded_amount,loan_amount,activity,sector,use,country_code,country,region,currency,partner_id,posted_time,disbursed_time,funded_time,term_in_months,lender_count,tags,borrower_genders,repayment_interval,date
0,653051,300.0,300.0,Fruits & Vegetables,Food,"To buy seasonal, fresh fruits to sell.",PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:12:39+00:00,2013-12-17 08:00:00+00:00,2014-01-02 10:06:32+00:00,12.0,12,NaN,female,irregular,2014-01-01
1,653053,575.0,575.0,Rickshaw,Transportation,to repair and maintain the auto rickshaw used ...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:51:08+00:00,2013-12-17 08:00:00+00:00,2014-01-02 09:17:23+00:00,11.0,14,NaN,"female, female",irregular,2014-01-01
2,653068,150.0,150.0,Transportation,Transportation,To repair their old cycle-van and buy another ...,IN,India,Maynaguri,INR,334.0,2014-01-01 09:58:07+00:00,2013-12-17 08:00:00+00:00,2014-01-01 16:01:36+00:00,43.0,6,"user_favorite, user_favorite",female,bullet,2014-01-01
3,653063,200.0,200.0,Embroidery,Arts,to purchase an embroidery machine and a variet...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 08:03:11+00:00,2013-12-24 08:00:00+00:00,2014-01-01 13:00:00+00:00,11.0,8,NaN,female,irregular,2014-01-01
4,653084,400.0,400.0,Milk Sales,Food,to purchase one buffalo.,PK,Pakistan,Abdul Hakeem,PKR,245.0,2014-01-01 11:53:19+00:00,2013-12-17 08:00:00+00:00,2014-01-01 19:18:51+00:00,14.0,16,NaN,female,monthly,2014-01-01

In [72]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 671205 entries, 0 to 671204
Data columns (total 20 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  671205 non-null  int64
 1   funded_amount       671205 non-null  float64
 2   loan_amount         671205 non-null  float64
 3   activity            671205 non-null  object
 4   sector              671205 non-null  object
 5   use                 666973 non-null  object
 6   country_code        671197 non-null  object
 7   country             671205 non-null  object
 8   region              614405 non-null  object
 9   currency            671205 non-null  object
 10  partner_id          657698 non-null  float64
 11  posted_time         671205 non-null  object
 12  disbursed_time      668809 non-null  object
 13  funded_time         622874 non-null  object
 14  term_in_months      671205 non-null  float64
 15  lender_count        671205 non-null  int64
 16  tags                499789 non-null  object
 17  borrower_genders    666984 non-null  object
 18  repayment_interval  671205 non-null  object
 19  date                671205 non-null  object
dtypes: float64(4), int64(2), object(14)
memory usage: 102.4+ MB

In [73]:
data.drop(['funded_amount', 'activity', 'use', 'country_code', 'region', 'currency', 'partner_id', 'posted_time', 'disbursed_time', 'funded_time', 'lender_count', 'tags'], axis=1, inplace=True)

In [74]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 671205 entries, 0 to 671204
Data columns (total 8 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  671205 non-null  int64
 1   loan_amount         671205 non-null  float64
 2   sector              671205 non-null  object
 3   country             671205 non-null  object
 4   term_in_months      671205 non-null  float64
 5   borrower_genders    666984 non-null  object
 6   repayment_interval  671205 non-null  object
 7   date                671205 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 41.0+ MB

In [75]:
data.sample(10)

,id,loan_amount,sector,country,term_in_months,borrower_genders,repayment_interval,date
379892,1026276,3300.0,Food,Paraguay,8.0,"female, female, female, female, female, female...",monthly,2016-02-22
630730,1292076,175.0,Housing,Philippines,13.0,female,irregular,2017-05-04
470906,1130481,450.0,Food,Philippines,11.0,female,irregular,2016-08-09
251643,898591,250.0,Clothing,Philippines,11.0,female,irregular,2015-06-09
429154,1076418,350.0,Agriculture,Colombia,18.0,female,bullet,2016-05-26
39868,692525,1000.0,Agriculture,Albania,27.0,female,monthly,2014-04-02
628651,1290232,600.0,Agriculture,Philippines,7.0,female,irregular,2017-05-02
571354,1232144,775.0,Agriculture,Peru,9.0,female,bullet,2017-02-05
661203,1324050,1375.0,Agriculture,Honduras,14.0,male,bullet,2017-06-20
239731,887213,500.0,Housing,Ukraine,26.0,female,monthly,2015-05-18

In [76]:
#change data column to datetime
data['date'] = pd.to_datetime(data['date'], format='%Y-%m-%d')

In [77]:
#drop any row with a missing value
data.dropna(axis=0, how='any', inplace=True)

In [78]:
data.shape

(666984, 8)

In [79]:
#Let's look at the gender column, and clean it up
data['borrower_genders'].sample(10)

587141                                               female
536453                                               female
45996                                                female
196828                                               female
372648               female, female, female, female, female
234869                                                 male
125487                                               female
552948    female, female, female, female, female, female...
551659                 male, female, female, female, female
51879                                                female
Name: borrower_genders, dtype: object

In [80]:
data['female_gender'] = data['borrower_genders'].str.contains('female')

In [81]:
#create a gender column and encode in 'F' and 'M'
data.loc[data['female_gender'] == True, 'gender'] = 'F'
data.loc[data['female_gender'] == False, 'gender'] ='M'

In [82]:
data.drop(['borrower_genders', 'female_gender'], axis=1, inplace=True)

In [83]:
print(data['gender'].value_counts())

F    528461
M    138523
Name: gender, dtype: int64

In [84]:
#change the gender column to a category
category = ['F', 'M']
cat_dtype = pd.api.types.CategoricalDtype(categories=category, ordered=True)
data['gender'] = data['gender'].astype(cat_dtype)

print(data.gender.sample(5))

119237    F
619680    M
352782    F
514959    M
587285    F
Name: gender, dtype: category
Categories (2, object): [F < M]

In [85]:
#data.loc[data['repayment_interval'] == 'bullet'] = 'daily'
print(data['repayment_interval'].value_counts())

monthly      340171
irregular    256573
bullet        69638
weekly          602
Name: repayment_interval, dtype: int64

In [86]:
#Change the repayment_interval column to a category too.
#Directly: .astype()
data['repayment_interval'] = data['repayment_interval'].astype('category')
print(data['repayment_interval'].dtype)
print(data.repayment_interval.value_counts())

category
monthly      340171
irregular    256573
bullet        69638
weekly          602
Name: repayment_interval, dtype: int64

In [87]:
print(data.repayment_interval.sample(5))

51312        bullet
342634    irregular
90685     irregular
136702      monthly
625383      monthly
Name: repayment_interval, dtype: category
Categories (4, object): [bullet, irregular, monthly, weekly]

In [88]:
#Look at the country column:
data.country.head()

0    Pakistan
1    Pakistan
2       India
3    Pakistan
4    Pakistan
Name: country, dtype: object

In [89]:
#There's an error where instead of India, it's daily.
#What caused this error, I don't know. Yet.
#print(data.country[data['country'] == 'daily'].count())

In [90]:
#Change 'daily' to 'India' in the country column
#data.loc[data['country'] == 'daily'] = 'India'

In [96]:
#print(data.country[data['country'] == 'India'].count())
print(data.country.unique())
print(data.country.nunique())

['Pakistan' 'India' 'Kenya' 'Nicaragua' 'El Salvador' 'Tanzania'
 'Philippines' 'Peru' 'Senegal' 'Cambodia' 'Liberia' 'Vietnam' 'Iraq'
 'Honduras' 'Palestine' 'Mongolia' 'United States' 'Mali' 'Colombia'
 'Tajikistan' 'Guatemala' 'Ecuador' 'Bolivia' 'Yemen' 'Ghana'
 'Sierra Leone' 'Haiti' 'Chile' 'Jordan' 'Uganda' 'Burundi' 'Burkina Faso'
 'Timor-Leste' 'Indonesia' 'Georgia' 'Ukraine' 'Kosovo' 'Albania'
 'The Democratic Republic of the Congo' 'Costa Rica' 'Somalia' 'Zimbabwe'
 'Cameroon' 'Turkey' 'Azerbaijan' 'Dominican Republic' 'Brazil' 'Mexico'
 'Kyrgyzstan' 'Armenia' 'Paraguay' 'Lebanon' 'Samoa' 'Israel' 'Rwanda'
 'Zambia' 'Nepal' 'Congo' 'Mozambique' 'South Africa' 'Togo' 'Benin'
 'Belize' 'Suriname' 'Thailand' 'Nigeria' 'Mauritania' 'Vanuatu' 'Panama'
 'Virgin Islands' 'Saint Vincent and the Grenadines'
 "Lao People's Democratic Republic" 'Myanmar (Burma)' 'Malawi' 'Moldova'
 'South Sudan' 'Solomon Islands' 'China' 'Egypt' 'Guam' 'Afghanistan'
 'Madagascar' 'Namibia' 'Puerto Rico' 'Lesotho' "Cote D'Ivoire" 'Bhutan']
87

In [98]:
print(data.sector.unique())
print(data.sector.nunique())

['Food' 'Transportation' 'Arts' 'Services' 'Agriculture' 'Manufacturing'
 'Wholesale' 'Retail' 'Clothing' 'Construction' 'Health' 'Education'
 'Personal Use' 'Housing' 'Entertainment']
15

#Testing hypothesis towards finding out about the borrowers in Kiva.
1.Who are they?-Gender.
2.What do they do?-Sector
3.Where do they come from?-Country
4.How long have they borrowed?-term in months
5.How do they pay?-repayment intervals
6.Which country borrows the most or the least? & In which sector?

1.What is the gender of most borrowers in Kiva?

My hypothesis is that most borrowers in Kiva are female.

In [100]:
borrower_genders = data['gender'].value_counts()
print(borrower_genders)

F    528461
M    138523
Name: gender, dtype: int64

In [ ]:
female_borrowers = data[data['gender'] == 'F'].sum()
print(female_borrowers)